/*=============== HEADER ==============*/
.border-user i {
    color: #4F4F4F;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #4F4F4F;
    border-radius: 100%;
    line-height: 1.5;
    text-align: center;
}

.img-desktop {
    width: 70px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #E27B03;
    font-weight: bold;
}



/*=============== PORTADA ==============*/
.bg-orange-d {
    background: linear-gradient(to right, rgb(105,56,13), #E27B03);
}
  
#info-slide-md {
    display: none !important; 
}

/*=============== SERVICE ==============*/
.bg-gray {
    background-color: #E0E0E0;
}

.service {
    border: 5px solid #E27B03;
}

.color-orange {
    color: #E27B03;
}

.btn-outline-info {
    color: #E27B03;
    border-color: #E27B03;
}

.btn-outline-info:hover {
    background-color: #E27B03;
    border-color: white;

}

/*=============== FOOTER ==============*/

.bg-orange {
    background-color: #E27B03
}

.questions {
    border-radius: 0.5rem;
}

.questions a i {
    color: #219653;
}

.questions p {
    font-size: 0.7rem;
}

.fixed-bottom-d {
    position: fixed;
     bottom: 0;
     right: 2rem;
}

/*==========CLIENTE==============*/
.btn-success {
    background-color: #E27B03;
    border: 1px solid rgb(153, 82, 2);
}

.btn-success:hover {
    background-color: white;
    border: 1px solid #E27B03;
    color: #E27B03;
}

@media(min-width: 990px) {
    .navbar-nav {
        position: absolute;
        right: 0;
    }

    .service {
        border: 10px solid #E27B03;
    }

    #info-slide-md {
        display: block !important;
    }
}

@media(max-width: 768px) {
    
}