/*=============== HEADER ==============*/
.border-user i {
    color: #4F4F4F;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #4F4F4F;
    border-radius: 100%;
    line-height: 1.5;
    text-align: center;
}


@media(min-width: 990px) {
    .navbar-nav {
        position: absolute;
        right: 0;
    }
}